:root {
  --primary-color: #75b9fc;
  --secondary-color: #737b45;
  --primary-accent-color: #705c4d;
  --light-color: #eff3f9;
  --dark-color: #111716;
  --font-heading: "Poppins", sans-serif;
  --font-body: "Roboto Serif", serif;
  --radius: 15px;
  --shadow: 2px 5px 8px rgb(0, 0, 0, 0.3);
  --transition: 200ms;
}
body {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: var(--font-body);
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
.nav-link {
  font-family: var(--font-heading);
}
img,
.btn {
  border-radius: var(--radius);
}
a {
  color: var(--secondary-color);
}
a:hover {
  transition-duration: var(--transition);
}
.navbar {
  opacity: 0.9;
}
#logo {
  border-radius: 50px;
  max-height: 40px;
  width: auto;
}
.dropdown-menu {
  background-color: var(--light-color);
}
.hero {
  color: var(--dark-color);
  padding-top: 60px;
  padding-bottom: 400px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.hero-home {
  background: url(/images/suffolk-framlingham.jpg) center no-repeat;
}
h1 {
  font-size: 40pt;
  line-height: 1.5;
  opacity: 0.8;
}
.hero p {
  font-size: 16pt;
  line-height: 24pt;
}
.btn-hero {
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  color: var(--dark-color);
  padding: 10px 20px;
}
.btn-hero:hover {
  background-color: var(--primary-accent-color);
  color: var(--light-color);
  transition-duration: var(--transition);
}
.square-photos-row {
  text-align: center;
}
.square-photo {
  max-height: 167px;
  width: auto;
  margin-top: 5px;
}

.box {
  position: relative;
}
.box-content {
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-see-more {
  background-color: var(--primary-color);
  box-shadow: var(--shadow);
  color: var(--dark-color);
  padding: 10px 20px;
}
.btn-see-more:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
  transition-duration: var(--transition);
}
.footer {
  background-color: #75b9fc;
  border-radius: var(--radius);
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 20px 40px;
  max-width: fit-content;
  text-align: center;
}
.footer-link {
  color: var(--dark-color);
}
.footer-link:hover {
  color: var(--primary-accent-color);
}
.hero-about {
  background: url(/images/suffolk-trimley-marshes-02.jpg) center no-repeat;
}
.contact {
  text-align: center;
}
.hero-london {
  background: url(/images/london-hampstead-heath-view.jpg) center no-repeat;
}
.hero-suffolk {
  background: url(/images/suffolk-trimley-marshes-05.jpg) center no-repeat;
}
.hero-florida {
  background: url(/images/fl-pinellas-weedon-island.jpg) center no-repeat;
}
.hero-croatia {
  background: url(/images/croatia-split-marina-view.jpg) center no-repeat;
}
.hero-estonia {
  background: url(/images/estonia-saaremaa-sorve-lighthouse-01.jpg) center
    no-repeat;
}
.montage-row,
.place-row {
  margin-bottom: 20px;
}
.montage-box {
  position: relative;
}
.montage-box-content {
  position: relative;
  max-width: fit-content;
  left: 50%;
  transform: translatex(-50%);
}
.montage-picture:hover .caption {
  display: block;
  transition: var(--transition);
}
.montage-picture:active .caption {
  display: block;
  transition: var(--transition);
}
.place-hr {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
  width: 93%;
}
.caption {
  display: none;
  position: absolute;
  text-align: center;
  transform: translateY(-200%);
  width: 47%;
}
.caption-text {
  background: var(--light-color);
  border-radius: var(--radius);
  color: var(--dark-color);
  opacity: 0.8;
  padding: 5px 8px;
}

@media (max-width: 768px) {
  .hero-home {
    background: url(/images/suffolk-framlingham-2.jpg) center no-repeat;
    padding-top: 90px;
    padding-bottom: 325px;
    margin-bottom: 30px;
  }
  .hero-btn {
    margin-top: 0px;
  }
  .place-picture {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .montage-row,
  .place-row {
    margin-bottom: 10px;
  }
  .montage-picture {
    max-width: 140px;
  }
  .footer {
    font-size: 9pt;
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .square-photos-row {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .about-me {
    margin-left: 10%;
    margin-right: 10%;
  }
  .place-hr {
    display: none;
  }
}
